<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Races', races_path %></li>
    </ul>
  </div>
</div>