<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Races', races_path %></li>
      <li><%= link_to 'Causes', causes_path %></li>
      <li><%= link_to 'Donations', donations_path %></li>
    </ul>
  </div>
</div>